################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConverterArquivo/.vs/ConverterArquivo/v15
